<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <p>{{uid}}</p>
    <p>{{token}}</p>
    <form action="" class="form">
        <button onclick="ActivateAccount()">Activate Account</button>
    </form>

    <script>
        function ActivateAccount(e) {
            e.preventDefault();
            fetch('auth/users/activation/', {
                method: "POST",
                body: JSON.stringify()
            })
                .then()
                .catch()
        }
    </script>
</body>
</html>