<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>

    {% extends "_base.html" %}
    {% load static %}

        <p>{{uid}}</p>
        <p>{{token}}</p>
        <div class="message"></div>
        <form class="form">
            <button id="activate">Activate Account</button>
        </form>

        <form class="resend-activation-form">
            <input type="text" id="email" class="">
            <button id="resend-activation">Resend Activation Link</button>
        </form>


        <!-- Activated Account -->
        <form id="activated" class="bg-[#0A0A0B] w-full h-[350px] md:w-[500px] md:h-[352px] flex-col flex items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-[27px] mx-6">
                
                <div class="flex flex-col items-center justify-center gap-4">
                    <img class="w-[50px] h-[50px] md:h-[60px] md:w-[60px]" src="{% static 'images/check.png' %}" alt="">
                    <div>
                        <h2 class="text-xl md:text-2xl mb-2">Activate Account</h2>
                        <div class="text-gray-600 text-sm">
                            Your account has been successfully activated.
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </form>

        <!-- Unactivated Account -->
        <form id="unactivated" class="bg-[#0A0A0B] w-full h-[350px] md:w-[500px] md:h-[352px] flex-col flex items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-[27px] mx-6">
                
                <div class="flex flex-col items-center justify-center gap-4">
                    <img class="w-[50px] h-[50px] md:h-[60px] md:w-[60px]" src="{% static 'images/power.png' %}" alt="">
                    <div>
                        <h2 class="text-xl md:text-2xl mb-2">Activate Account</h2>
                        <div class="text-gray-600 text-sm">
                            To proceed, you might need to activate your account.
                        </div>
                    </div>
                    
                </div>
                <button 
                    id="button"
                    class="text-black text-sm md:text-lg  bg-[#80D200] hover:bg-[#89d214] px-[15px] py-[13px] md:px-[17px] md:py-[15px] w-full rounded-md "
                >Activate</button>
            </div>
        </form>


        

        <!-- Change Password -->
        <form class="h-screen w-screen bg-black flex justify-center items-center text-center flex-col text-white px-6 static xl:relative">
            <div class="w-screen md:w-[523px] h-[317px] static xl:absolute xl:top-[219px] xl:left-[459px] bg-black flex flex-col text-left">
                <div class="w-screen md:w-[515px] mx-auto flex flex-col gap-7 p-2">
                    <div class="flex flex-col gap-2">
                        <h2 class="text-xl">Login with your new password</h2>
                        <p class="text-sm text-gray-600">Change your password and login</p>
                    </div>
    
                    <div class="bg-[#121212] h-[50px] hover:outline-none overflow-hidden rounded-[5px]">
                        <input autocomplete="off" id="password" name="password" type="password" class="w-full h-full border-none outline-none bg-transparent text-gray-600" placeholder="New Password" class="">
                    </div>
    
                    <div class="bg-[#121212] h-[50px] hover:outline-none overflow-hidden rounded-[5px]">
                        <input autocomplete="off" id="password" name="password" type="password" class="w-full h-full border-none outline-none bg-transparent text-gray-600" placeholder="Confirm Password" class="">
                    </div>
    
                    <div class="bg-[#121212] h-[50px] hover:outline-none overflow-hidden rounded-[5px]">
                        <input autocomplete="off" id="email" name="email" type="email" class="w-full h-full border-none outline-none bg-transparent text-gray-600" placeholder="Email" class="">
                    </div>
                    
                    <div class="w-full text-center text-black h-[50px] overflow-hidden rounded-[5px]">
                        <button class="w-full border-none bg-[#80D200] h-full">Reset</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- Reset Password -->
    <form class="h-screen w-screen bg-black flex justify-center items-center text-center flex-col text-white px-6 static lg:relative">
        <div class="w-screen md:w-[523px] h-[317px] static lg:absolute lg:top-[219px] lg:left-[459px] bg-black flex flex-col text-left">
            <div class="w-screen md:w-[515px] mx-auto flex flex-col gap-7 p-2">
                <div class="flex flex-col gap-2">
                    <h2 class="text-xl">Forget Password?</h2>
                    <p class="text-sm text-gray-600">Input your email to reset password</p>
                </div>
                <div class="bg-[#121212] h-[50px] hover:outline-none overflow-hidden rounded-[5px]">
                    <input id="email" name="email" type="email" class="w-full h-full border-none outline-none bg-transparent text-gray-600" placeholder="Username@gmail.com" class="">
                </div>
                <div class="w-full text-center text-black h-[50px] overflow-hidden rounded-[5px]">
                    <button class="w-full border-none bg-[#80D200] h-full">Reset</button>
                </div>
            </div>
        </div>
    </form>
    
        

    {% block content %}

    <!-- Reset Password -->
    <div class="h-screen w-screen bg-black flex justify-center items-center text-center flex-col text-white px-6 static">
        <p class="text-white">{{uid}}</p>
        <p class="text-white">{{token}}</p>
        <!-- Activated Account -->
        <form id="activated" class="bg-[#0A0A0B] w-full h-[350px] md:w-[500px] md:h-[352px] flex-col flex items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-[27px] mx-6">
                
                <div class="flex flex-col items-center justify-center gap-4">
                    <img class="w-[50px] h-[50px] md:h-[60px] md:w-[60px]" src="{% static 'images/check.png' %}" alt="">
                    <div>
                        <h2 class="text-xl md:text-2xl mb-2">Activate Account</h2>
                        <div class="text-gray-600 text-sm">
                            <p>Your account has been successfully activated.</p>
                            
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </form>

         <!-- Unactivated Account -->
         <form id="unactivated" class="bg-[#0A0A0B] w-full h-[350px] md:w-[500px] md:h-[352px] flex-col flex items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-[27px] mx-6">
                
                <div class="flex flex-col items-center justify-center gap-4">
                    <img class="w-[50px] h-[50px] md:h-[60px] md:w-[60px]" src="{% static 'images/power.png' %}" alt="">
                    <div>
                        <h2 class="text-xl md:text-2xl mb-2">Activate Account</h2>
                        <div id="message-unactivated" class="text-gray-600 text-sm">
                            To proceed, you might need to activate your account.
                        </div>
                    </div>
                    
                </div>
                <button 
                    id="activate-button"
                    class="text-black text-sm md:text-lg  bg-[#80D200] hover:bg-[#89d214] px-[15px] py-[13px] md:px-[17px] md:py-[15px] w-full rounded-md "
                >Activate</button>
            </div>
        </form>
    </div>

    


    <script>

        const activated = document.querySelector("#activated");
        const unactivated = document.querySelector("#unactivated");

        activated.style.display = "none"

        
        // Activate Account
        document.querySelector("#activate-button").onclick = (e) =>{
            e.preventDefault();
            const options = {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({"token": "{{token}}", "uid": "{{uid}}"}),
            };

            fetch('https://web-production-c1bd.up.railway.app/auth/users/activation/', options)
                .then(response => {
                    response.json()
                    if (response.status === 204){
                        unactivated.style.display = "none"
                        activated.style.display = "block"
                    } else {
                        comnsole.log(response.status)
                        document.querySelector("#message-unactivated").innerHTML = "We encountered a problem activating your account"
                    }
                })
                .then(response => console.log(response))
                .catch(err => document.querySelector("#message-unactivated").innerHTML = "We encountered a problem activating your account");
        }


        
        // Resend link
        // document.querySelector("#resend-activation").onclick = (e) =>{
        //     e.preventDefault();
        //     const email = document.querySelector("#email").value
        //     const options = {
        //         method: 'POST',
        //         headers: {'Content-Type': 'application/json'},
        //         body: JSON.stringify({"email": email}),
        //     };

        //     console.log(email)

        //     fetch('https://web-production-93c3.up.railway.app/auth/users/resend_activation/', options)
        //         .then(response => {
        //             response.json()
        //             if (response.status === 204){
        //                 document.querySelector(".message-unactivated").innerHTML = "Another email was sent to your address!"
        //             } else {
        //                 document.querySelector(".message-unactivated").innerHTML = "It seems your account is already activated or there is no user with this email..."
        //             }
        //         })
        //         .then(response => console.log(response))
        //         .catch(err => console.error(err));
        // }



        
    </script>

{% endblock content %}
</body>
</html>